<ion-view title="Biocombustíveis" id="biocombustiveis">
  <ion-content padding="true" class="has-header">
    <div class="list card">


  <div class="item item-body">
    <img class="full-image" src="img/bio-energi.jpg">
    <p align="justify">
      Programa de etanol do Brasil começou em 1975, quando a crise do petróleo abalou a economia brasileira.  através do desenvolvimento de combustíveis inovadores. O <a href="https://pt.wikipedia.org/wiki/%C3%81lcool_combust%C3%ADvel" target="_blank">álcool combustível (etanol)</a>, é feito atraves <a href="https://pt.wikipedia.org/wiki/Cana-de-a%C3%A7%C3%BAcar">cana-de-açúcar.</a><br>
      <b>Curiosidade:</b> O Brasil é um dos maiores produtores de etanol do mundo e é o maior exportador do combustível. Toda a gasolina no Brasil contém etanol.
    </p>
  </div>

</div>
    <div class="spacer" style="width: 300px; height: 39px;"></div>
  </ion-content>
</ion-view>


