<ion-view title="Eólica " id="eolica ">
  <ion-content padding="true" class="has-header">
    <div class="list card">


  <div class="item item-body">
    <p align="justify">Usinas hidrelétricas produzem mais de 90% da energia elétrica consumida no Brasil. Dependem das águas dos rios em níveis adequados em suas represas para gerar energia. </p>
    <img class="full-image" src="img/hidro-energi.jpg">
    <p align="justify">
      Vista panorâmica da Usina Hidrelétrica de Itaipu, na fronteira Brasil–Paraguai, a maior hidrelétrica do mundo em geração de energia. Aproximadamente 75% da matriz energética brasileira, uma das mais limpas do mundo, é proveniente da hidroeletricidade
divide Brasil e o Paraguai, a Itaipu é, atualmente, a segunda maior usina hidrelétrica do mundo em geração de energia. Com vinte unidades geradoras e 14.000 MW de potência instalada, fornece energia para o Brasil e abastece 71,3% do consumo paraguaio.
    </p>
  </div>

</div>
    <div class="spacer" style="width: 300px; height: 39px;"></div>
  </ion-content>
</ion-view>


