<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Cartilha</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item class="item-icon-right" id="menu-list-item1" ui-sref="menu.revolucao-energetica"  menu-close="">Revolução Energética
        <!-- <h5>Alguma informação adicional</h5> -->
          <!-- <i class="icon ion-android-cart" ></i> -->
        </ion-item>
        <!-- <ion-item class="item-icon-right" id="menu-list-item39" ui-sref="menu.secretaria" menu-close="">Secretaria
          <i class="icon ion-ios-box"></i>
        </ion-item> -->
        <ion-item class="item-icon-right" id="menu-list-item3" ui-sref="menu.hidroeletrica " menu-close="">Hidroelétrica 
          <!-- <i class="icon ion-android-options"></i> -->
        </ion-item>

        <ion-item class="item-icon-right" id="menu-list-item3" ui-sref="menu.biocombustiveis" menu-close="">Biocombustíveis
          <!-- <i class="icon ion-android-options"></i> -->
        </ion-item>


        <ion-item class="item-icon-right" id="menu-list-item3" ui-sref="menu.eolica" menu-close="">Eólica
          <!-- <i class="icon ion-android-options"></i> -->
        </ion-item>

        <ion-item class="item-icon-right" id="menu-list-item3" ui-sref="menu.configuracoes" menu-close="">Contato
          <!-- <i class="icon ion-android-options"></i> -->
        </ion-item>
        <!-- <ion-item class="item-icon-right" id="menu-list-item40" ng-click="sairApp();">Sair
          <i class="icon ion-log-out"></i>
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>