<ion-view title="Revolução Energética" id="revolucao-energetica">
  <ion-content padding="true" class="has-header">
    <div class="list card">


  <div class="item item-body">
    <img class="full-image" src="img/rev-energi.jpg">
    <p align="justify">
      <b>Curiosidade: </b>O Brasil tem plenas condições de chegar a 2050 com uma matriz energética de energias 100% renováveis.
Nosso país pode chegar a 2050 com uma matriz energética 100% renovável, criando novos postos de trabalho, melhorando a qualidade do ar e a vida de milhões de pessoas e ajudando a combater as mudanças climáticas.
<img class="full-image" src="img/rev-lamp.jpg" style="padding-top: 10px; padding-bottom:10px; padding-right:10px; width: 50%; float:left;">
Desde o Acordo de Paris, resultado da Conferência do Clima das Nações Unidas de 2015, o Brasil tem o compromisso de cortar suas emissões de gases de efeito estufa e descarbonizar sua economia durante a segunda metade deste século.
É por isso que o  revolução Energética se faz importante no cenário nacional.

    </p>
  </div>

</div>
    <div class="spacer" style="width: 300px; height: 39px;"></div>
  </ion-content>
</ion-view>


